<!-- .log -->
<div id="log" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Past Pictures</h1>

    <!-- .container-log -->
    <div class="container-log">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Web Design</span></li>
            <li><span class="filter" data-filter="catGraphic">Graphic Design</span></li>
            <li><span class="filter" data-filter="catMotion">Motion Graphic</span></li>
            <li><span class="filter" data-filter="logo">Logo</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #loglist -->
        <div id="loglist">

            <!-- .log -->
            <div class="log logo" data-cat="logo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/07-18-17/142309.jpg" rel="log" title="July 18, 2017 at 14:23:09">
                        <img src="images/log/07-18-17/142309.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->



            <!-- .log -->
            <div class="log catWeb" data-cat="catWeb">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="http://www.youtube.com/watch?v=c9MnSeYYtYY" rel="log">

                        <img src="images/log/2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log catWeb" data-cat="catWeb">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/3.jpg" rel="log">
                        <img src="images/log/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log catMotion" data-cat="catMotion">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/4.jpg" rel="log">
                        <img src="images/log/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log catWeb" data-cat="catWeb">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/5.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="log">
                        <img src="images/log/5.jpg" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log catMotion" data-cat="catMotion">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/6.jpg" rel="log">
                        <img src="images/log/6.jpg" alt="BMF" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log catGraphic" data-cat="catGraphic">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/7.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="log">
                        <img src="images/log/7.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log logo" data-cat="logo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/8.jpg" rel="log" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien.">
                        <img src="images/log/8.jpg" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log catWeb" data-cat="catWeb">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/9.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="log">
                        <img src="images/log/9.jpg" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log catGraphic" data-cat="catGraphic">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/10.jpg" rel="log">
                        <img src="images/log/10.jpg" alt="QR Quick Response" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log logo" data-cat="logo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/11.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="log">
                        <img src="images/log/11.jpg" alt="Mobi Sock" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log logo" data-cat="logo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/12.jpg" rel="log">
                        <img src="images/log/12.jpg" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <div class="clear"></div>

        </div>
        <!-- #loglist -->
    </div>
    <!-- /.container-log -->
</div>
<!-- End .log -->
